* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #f6f8fa;
}

.header {
  background: #fff;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}
.p1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: grey;
    display: flex;
}

.Collections {
  display: flex;
  color: #777;
  margin-right: 700px;
  gap: 26px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user img {
  border-radius: 50%;
}

.product {
  max-width: 1100px;
  margin: 60px auto;
  display: flex;
  gap: 80px;
}

.gallery {
  flex: 1;
}

.main-img {
  width: 100%;
  border-radius: 15px;
}

.thumbs {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.thumbs img {
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
}

.info {
  flex: 1;
}

.info h4 {
  color: orange;
  letter-spacing: 1px;
}

.info h1 {
  font-size: 36px;
}

.info p {
  color: #777;
  line-height: 1.6;
}

.price {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.current {
  font-size: 28px;
  font-weight: bold;
}

.badge {
  background: #000000;
  color: rgb(255, 255, 255);
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: bold;
}

.old {
  color: #aaa;
  text-decoration: line-through;
  margin-top: 5px;
}

.actions {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.counter {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  border-radius: 10px;
}

.counter button {
  border: none;
  background: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  color: orange;
}

.counter span {
  padding: 0 20px;
  font-weight: bold;
}

.add {
  background: orange;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
