* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #1e1e1e;
  color: #eaeaea;
  height: 100vh;
}


.top-header {
  height: 55px;
  background: #2a2d30;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 40px;
}

.top-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  letter-spacing: 3px;
  font-weight: bold;
}

.top-doc {
  font-size: 12px;
  color: #aaa;
}

.doc-name {
  display: block;
  color: #fff;
}

.save-btn {
  margin-left: auto;
  background: #f97316;
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.main {
  display: flex;
  height: calc(100vh - 55px);
}


.panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: #070221; 
  border-right: 2px solid #656565;
}

.panel:last-child {
  border-right: none;
}

.panel-header {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #aaa;
}

.panel:first-child .panel-header {
  background: #1d1d1f; 
}

.panel:last-child .panel-header {
  background: #1d1d1f; 
}

.editor-text {
  padding: 20px;
  color: #cfcfcf;
  font-size: 14px;
  line-height: 1.6;
  overflow-y: auto; 
  flex: 1;
  scrollbar-width: none; 
}

.preview-content {
  padding: 20px;
  overflow-y: auto; 
  flex: 1;
  padding: 15px;
  scrollbar-width: none; 
}

.preview-content h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.preview-content h2,
.preview-content h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.preview-content p {
  color: #b5b5b5;
  line-height: 1.6;
  margin-bottom: 10px;
}

.preview-content li {
  color: #b5b5b5;
  line-height: 1.6;
}

.preview-content ul,
.preview-content ol {
  margin-left: 25px;
}

blockquote {
  background: #2b2b2b;
  border-left: 4px solid #f97316;
  padding: 15px;
  margin: 20px 0;
}

a {
  color:white;
}

code {
  background: #333;
  padding: 2px 6px;
  border-radius: 4px;
}

.code-block {
  background: #2b2b2b;
  padding: 15px;
  margin-top: 10px;
  color: #ddd;
}