
body {
    background: rgba(229, 218, 251, 0.421);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.apple {
    max-width: 730px;
    width: 100%;
}


.banana,
.dragonfruit {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}


.cherry {
    background: rgba(229, 218, 251, 0.421);
    width: 40px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.cherry button {
    background: none;
    border: 0;
    color: #c5c6ef;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.score {
    
    font-weight: 700;
}

.peach { width: 100%; }

.mango {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.avatar { width: 32px; height: 32px; }

.username { font-weight: 700; color: rgb(22, 22, 78); }

.date { color: #fff; }

.badge {
    background:rgb(113, 86, 245); 
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 2px;
}


.reply-btn,
.edit-btn,
.delete-btn {
    background: none;
    border: 0;
    font-weight: 700;
    cursor: pointer;
}

.reply-btn,
.edit-btn {
    color: rgb(28, 28, 91);
    margin-left: auto;
}

.delete-btn {
    color:darkred;
}


.text {
    color: rgb(31, 31, 108);
    line-height: 1.5;
}

.mention {
    color: rgb(28, 28, 96);
    font-weight: 700;
}


.coconut {
    display: flex;
    gap: 40px;
}

.avocado {
    width: 2px;
    background: #e9ebf0;
    margin-left: 40px;
}

.pineapple { flex: 1; }


.dragonfruit textarea {
    flex: 1;
    height: 100px;
    padding: 15px;
    resize: none;
    border: 1px solid #e9ebf0;
    border-radius: 8px;
}

.send-btn {
   background: rgb(113, 86, 245);
    color: #fff;
    border: 0;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}
